#home {
  color: #293242;
}

#name {
  font-family: "Arimo", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 60;
  color: white;
  font-size: 45px;
  position: relative;
  top: 100px;
  padding-left: 20px;
}

#title {
  font-family: "Arimo", sans-serif;
  font-family: "Cutive Mono", monospace;
  font-weight: 50;
  color: white;
  font-size: 23px;
  position: relative;
  top: 80px;
  padding-left: 20px;
  display: flex;
}

#cursor {
  background: blue;
  line-height: 17px;
  margin-left: 3px;
  -webkit-animation: blink 0.8s infinite;
  width: 7px;
  height: 20px;
  align-items: center;
}

@-webkit-keyframes blink {
  0% {
    background: #222;
  }
  50% {
    background: white;
  }
  100% {
    background: #222;
  }
}
section {
  display: flex;
  justify-content: center;
}

#about {
  color: #293242;
}

#about-mainheading {
  font-family: "Arimo", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 60;
  color: white;
  font-size: 35px;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.page-container {
  background-color: transparent;
  border: 1px solid white;
  height: 350px;
  width: 350px;
  align-items: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.page-container #about-text-heading {
  color: white;
  font-family: "Arimo", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 60;
  color: white;
  font-size: 30px;
  margin-bottom: 0;
}
.page-container .line {
  height: 10px;
  width: 250px;
  border-bottom: 0.25px solid white;
  position: relative;
  top: -5px;
}
.page-container #text-container {
  height: auto;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: scroll;
  justify-content: space-between;
}
.page-container #text-container p {
  font-family: "Arimo", sans-serif;
  font-family: "Cutive Mono", monospace;
  font-weight: 50;
  color: white;
  font-size: 20px;
  position: relative;
  left: 20px;
}
.page-container #text-container #p4 {
  position: relative;
  top: -20px;
  color: blue;
  font-size: 16.5px;
}
.page-container #text-container #p5 {
  position: relative;
  top: -30px;
}
.page-container #text-container #p6 {
  position: relative;
  top: -60px;
  color: blue;
}
.page-container #text-container #p7 {
  position: relative;
  top: -50px;
  text-decoration: underline;
}

#skills {
  color: #293242;
}

#projects {
  color: #293242;
}

#blog {
  color: #293242;
}

html {
  background-color: #9da2ae;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.site_header {
  display: flex;
  background-color: #9da2ae;
  top: 0;
  bottom: 0;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}

.mylogo {
  position: relative;
  width: 180px;
  height: 100%;
  left: -20px;
  top: 0px;
}

.nav-bar {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 100;
  display: flex;
  position: relative;
  right: 20px;
}
.nav-bar ul a {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  color: WHITE;
}
.nav-bar ul li {
  margin: 5px 0;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  height: 100px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  background-color: #9da2ae;
}

#instagram {
  width: 50px;
  height: 50px;
  bottom: -20px;
  position: relative;
}

#linkedin {
  width: 50px;
  height: 50px;
  bottom: -20px;
  position: relative;
}

#github {
  width: 50px;
  height: 50px;
  bottom: -20px;
  position: relative;
}

.mainheading {
  font-family: "Arimo", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 60;
  color: white;
  font-size: 45px;
  margin-left: 20px;
}/*# sourceMappingURL=main.css.map */