#projects {
    color: #293242;
}

    #portfolio-description {
        color: white;
        font-family: 'Arimo', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-weight: 60;
        color: white;
        font-size: 30px;
        margin-bottom: 0;
        text-align: center;
    }

    #portfolio-description-continued {
        color: white;
        font-family: 'Arimo', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-weight: 60;
        color: white;
        font-size: 30px;
        margin-top: -1px;
        text-align: center;
    }

    #portfolio-link {
        text-decoration: underline;
        color: white;
    }

#text-container-projects {
    width: 100%;
    word-wrap: break-word;
}

