
#about {
    color: #293242;
}

        #about-text-heading {
            color: white;
            font-family: 'Arimo', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-weight: 60;
            color: white;
            font-size: 30px;
            margin-bottom: 0;
        }


    #text-container {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        justify-content: space-between;
        overflow-x: hidden;
        word-wrap: break-word;
    }

            #selfie {
                height: auto;
                width: 50%;
                margin-top: 20px;
                padding: 5px;
                border: 2px solid white;
                margin-left: auto;
                margin-right: auto;
            }

            p {
                font-family: 'Arimo', sans-serif;
                font-family: 'Cutive Mono', monospace;
                font-weight: 50;
                color: white;
                font-size: 20px;
                position: relative;
                padding-right: 20px;
                padding-left: 20px;
            }

            #p1 {
                padding-top: 10px;
                margin-left: 25px
            }

            #p2 {
                margin-left: 25px;
                margin-right: 25px;
            }

            #p3 {
                margin-left: 25px;
                margin-right: 25px
            }


            #p4 {
                position: relative;
                top: -20px;
                color: blue;
                font-size: 15px;
                margin-left: 25px;
                margin-right: 25px;
            }

            #p5 {
                position:relative;
                top: -30px;
                margin-left: 25px;
                margin-right: 25px
            }

            #p6 {
                position:relative;
                top: -60px;
                color: blue;
                margin-left: 25px;
                margin-right: 25px
            }

            #p7 {
                position:relative;
                top: -65px;
                text-decoration: underline;
                margin-left: 25px;
                margin-right: 25px

            }

@media only screen and (min-width: 601px) {
    #p4 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1025px) {
}
