#home {
    color: #293242;
}

#name {
    font-family: 'Arimo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 60;
    color: white;
    font-size: 45px;
    position: relative;
    top: 150px;
    left: 20px;
    

}

#title {
    font-family: 'Arimo', sans-serif;
    font-family: 'Cutive Mono', monospace;
    font-weight: 50;
    color: white;
    font-size: 23px;
    position: relative;
    top: 130px;
    left: 20px;

}
