#home {
    color: #293242;
}

#name {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    color: white;
    font-size: 50px;
    position: relative;
    top: 130px;
    left: 20px;
    

}

#title {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 50;
    color: white;
    font-size: 30px;
    position: relative;
    top: 120px;
    left: 20px;

}
