#projects {
    color: #293242;
}

#text-container-projects {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: center;
    overflow-x: hidden;
    word-wrap: break-word;
    align-items: center;
}
    #portfolio-description {
        color: white;
        font-family: 'Arimo', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-weight: 60;
        color: white;
        font-size: 30px;
        margin-bottom: 0;
        text-align: center;
    }

    #portfolio-description-continued {
        color: white;
        font-family: 'Arimo', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-weight: 60;
        color: white;
        font-size: 30px;
        margin-top: -1px;
        text-align: center;
    }